NODE_ENV="development"

GOOGLE_API_KEY=""

LOCAL_ADDR="http://localhost"
LOCAL_PORT=4000
LOCAL_WEB_PORT=3000
GRAPHQL_ROUTE="/graphql"

APPDATA_DB_URL="database-1.cdgc404yecgw.us-east-1.rds.amazonaws.com"
APPDATA_DB_USER="postgres"
APPDATA_DB_PASSWORD=""

GEMINI_URI="http://localhost:5000"
ELEVENLABS_API_KEY=""

AWS_REGION="us-east-1"
S3_BUCKET_NAME="pocketnaut-tts-audio"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

COGNITO_CLIENT_ID="3tr4j39dtjgekv0985caffr3fg"
COGNITO_USER_POOL_ID="us-east-1_7mEFy7BEc"
COGNITO_CLIENT_SECRET=""