EXPO_PUBLIC_NODE_ENV="development"

EXPO_PUBLIC_DEBUG_EMAIL="bccaro8@gmail.com"
EXPO_PUBLIC_DEBUG_PASSWORD="Password1!"

EXPO_PUBLIC_SERVER_URI=""

EXPO_PUBLIC_S3_BUCKET_NAME="pocketnaut-tts-audio"
EXPO_PUBLIC_AWS_REGION="us-east-1"

EXPO_PUBLIC_GOOGLE_MAPS_SECRET=""