.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.statusIcon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 8px;
}

.connected {
  color: rgb(33, 212, 33);
}

.connecting {
  color: yellow;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

.disconnected {
  color: gray;
}