.section {
  width: 100%;
  display: flex;
  position: relative;
}

.contentWrapper {
  margin: auto;
  max-width: 1536px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  z-index: 15;
  position: relative;
}

.divisionBar {
  width: 100%;
  height: 2px;
  background-color: black;
}
